.ul, ul, .commentList {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
}

.commentList {
    padding: 0 0 0.5rem 0;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}