$text-primary: #181D27;
$text-quaternary: #717680;
$text-tertiary: #535862;
$text-error-primary: #D92D20;
$text-disabled: #717680;
$border-primary: #D5D7DA;
$text-green: #00813A;
$text-placeholder: #717680;
$border:#F5F5F5;
$radius: 12px;

